@import "../../css/variables";

.features {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: 5px;
  max-width: var(--ifm-container-width-xl);
  background: #fff;
  margin: 6rem auto;

  @media (min-width: $mobileWide) {
      padding: 2rem 0;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.box {
  padding: 0.5rem 2rem;
  //p {
  //  max-width: 20rem;
  //}
}

h3 {
  font-family: "Space Grotesk", sans-serif;
}
