@import "@css/variables";

.btn,
.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $color-white;
  height: 40px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 600;
}

.primary {
  background-color: $color-primary;
}

.secondary {
  background-color: $color-secondary;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-dark;
  }
}

.dark {
  background-color: $color-dark;
}

.light {
  background-color: $color-gray-300;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-dark;
  }
}

.white {
  background-color: $color-white;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-dark;
  }
}

.w-full {
  width: 100%;
}
