@import "@css/variables";

.section {
  @media (min-width: ($breakpoint-mobile)) {
    padding: 90px 90px 0 90px;
  }
}

.events {
  @media (min-width: ($breakpoint-mobile)) {
    max-width: $max-width;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }
}
