.toggler {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 72px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
