@import "@css/variables";

.section {
  @media (min-width: ($breakpoint-mobile)) {
    padding: 0 30px;
  }
}

.events {
  @media (min-width: ($breakpoint-mobile)) {
    max-width: $max-width;
    margin: 0 auto;
    margin-top: -260px;
    border-radius: 10px;
    overflow: hidden;
  }
}

.header {
  padding: 40px 30px;
  border-bottom: 1px solid $color-gray-200;
  background-color: $color-white;

  @media (min-width: ($breakpoint-mobile)) {
    text-align: center;
  }
}
