@import "../../css/variables.scss";

.box {
  flex: 1;

  &--1 {
    padding: 50px 20px;

    h3 {
      font-size: 25px;
    }

    p {
      margin: 0;
    }
  }

  &--2 {
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .subtitle {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .section--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .box--1 {
      margin: 0 auto;
      align-self: center;
    }
  }
}
