@import "../../css/variables.scss";

.hub {
  h2 {
    padding: 3rem 20px;
    margin-bottom: 0;
    font-size: 28px;
  }

  @media (min-width: $breakpoint-mobile) {
    margin-bottom: 6rem;

    h2 {
      padding: 6rem 20px;
      text-align: center;
      font-size: 35px;
    }
  }
}

.cards {
  display: grid;
  grid-template-rows: 110px 1fr 1fr 110px;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  &:first-of-type {
    grid-row: 1 / span 3;
  }

  &:last-of-type {
    grid-row: 2 / span 3;
  }

  .cover {
    height: 12rem;
    background-size: cover;
    background-position: center;
  }

  article {
    padding: 2rem 1rem;

    h3 {
      font-size: 25px;
    }

    @media (min-width: $breakpoint-mobile) {
      padding: 3rem;
    }
  }

  .linksWrapper {
    border-top: 1px solid #494949;
    padding-top: 2rem;

    .links {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (min-width: $breakpoint-mobile) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
