.footer {
  padding: 2rem 20px;

  .row {
    margin: 0;

    .col {
      padding: 0;
    }
  }

  &__item a,
  &__item p,
  &__item .label {
    font-size: 18px;
    color: #fff;
  }

  &__item .button.aligned {
    width: 100%;
    max-width: unset;
  }

  &--dark {
    background: #000;
  }

  &__copyright {
    margin-top: 2rem;
    text-align: left;
    font-size: 0.75rem;
    color: #848282;
    border-top: 1px solid;
    padding-top: 1rem;
  }

  .socials {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 8rem;
    padding-top: 1rem;

    a {
      display: inline-block;
    }
  }
}
