@import "../css/variables.scss";

.hero {
  background: #000;
  padding: 0;

  @media (min-width: $breakpoint-mobile) {
    background-image: url("../assets/bg-contact-desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    padding: 90px 20px;
    background-image: url("../assets/bg-contact-mobile.webp");
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-mobile) {
      background-image: none;
    }
  }

  .emph {
    font-size: 2.1rem;
  }

  &__title {
    margin-bottom: 80px;

    @media (min-width: $breakpoint-mobile) {
      text-align: center;
    }

    h1 {
      margin-bottom: 10px;
    }

    p {
      font-family: var(--font-secondary);
      font-size: 30px;
      font-weight: 600;
      line-height: 2.3rem;
    }
  }
}

.heroLinks {
  margin-top: 4rem;
  display: flex;

  a {
    border: 1px solid #fff;
    padding: 1.2rem 1rem;
    width: 50%;
    display: flex;
    justify-content: center;

    @media (min-width: $breakpoint-mobile) {
      width: auto;
      min-width: 12rem;
    }

    img {
      height: 100%;
      max-height: 24px;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  background: #000;

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.landing-hero {
  background-size: cover;
  color: #ececec;
  background-position: center;
  background-color: #000;

  &:before {
    content: "";
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 100%;
    background-image: url("/img/grad.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 17rem;
  }

  .container {
    padding: 90px 20px;

    @media (min-width: $breakpoint-mobile) {
      padding-bottom: 360px;
    }
  }

  @media (max-width: 996px) {
    background-image: none !important;
  }
}

@media (min-width: $breakpoint-mobile) {
  .landing-hero-info {
    max-width: 450px;
  }
}
