.hero {
  background: #000;
  padding: 0;

  .container {
    padding: 90px 20px;
  }

  .emph {
    font-size: 2.1rem;
  }

  &__title {
    font-family: var(--font-secondary);
    margin-bottom: 80px;

    h1 {
      font-family: inherit;
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 10px;
    }

    p {
      line-height: 2.3rem;
      font-size: 30px;
      font-weight: 600;
    }

    @media (min-width: $mobileWide) {
      font-size: 6rem;
      line-height: 6.5rem;
    }
  }
}

.heroLinks {
  margin-top: 4rem;
  display: flex;

  a {
    border: 1px solid #fff;
    padding: 1.2rem 1rem;
    width: 50%;
    display: flex;
    justify-content: center;

    @media (min-width: $mobileWide) {
      width: auto;
      min-width: 12rem;
    }

    img {
      height: 100%;
      max-height: 24px;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  background: #000;

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.mapHero {
  height: 36rem;
  padding: 4rem 1.5rem;
  background-size: cover;
  color: #ececec;
  background-position: center;
  background-color: #000;

  &:before {
    content: "";
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 100%;
    background-image: url("/img/grad.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 17rem;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url("/img/grad.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    height: 17rem;
  }

  @media (max-width: 996px) {
    background-image: none !important;
  }
}
