@import "variables";
@import "buttons";
@import "navbar";
@import "hero";
@import "footer";
@import "hubspot";
@import "spacings";
@import "fonts";
@import "typography";

body {
  background: #efefef;
  font-size: 21px;
  font-family: var(--font-primary), sans-serif;
}

.title {
  font-family: var(--font-secondary);
  text-align: left;
}

.header {
  border-bottom: 1px solid;
}

.container {
  padding: 0;
}

.borderRight {
  padding: 2rem;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: 997px) {
    border-right: 1px solid #d6d6d6;
    border-bottom: none;
    padding: 0 2rem;
  }

  &:last-child {
    border: none;
  }
}

.color-accent-light {
  color: var(--color-accent-dark);
}

.color-primary {
  color: var(--color-primary);
}

.wrapper {
  padding: 0 1rem;

  @media (min-width: $breakpoint-mobile) {
    padding: 0 4rem;
  }
}

section {
  position: relative;
}

.textLink {
  color: #000;
  text-decoration: underline;
}

.gdprWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.imageBg {
  background-size: cover;
  background-position: center;
  height: 20rem;
}

.map-container {
  width: 100%;
  height: 100%;
}
