.navbar-sidebar {
  &__brand {
    border-bottom: 1px solid #494949;
    margin-bottom: 1rem;
  }

  &__items {
    .navbar-sidebar__item.menu:first-of-type {
      a.menu__link:first-of-type {
        span.button.accent.aligned {
          background-color: var(--color-accent-light);
        }
      }
    }

    .navbar-sidebar__item.menu:last-of-type {
      display: none;
    }
  }
}
