@import "./variables";

.h1 {
  font-family: $font-secondary;
  font-size: $font-size-3xl;
  color: $color-light;
  line-height: 64px;
  margin-bottom: 18px;

  @media (min-width: ($breakpoint-mobile)) {
    font-size: $font-size-4xl;
    line-height: $font-size-4xl;
  }
}

.h2 {
  font-family: $font-secondary;
  font-size: $font-size-xl;
  line-height: 34px;
}

.h3 {
  font-family: $font-secondary;
  font-size: $font-size-lg;
  line-height: 48px;
}

.h4 {
  font-family: $font-secondary;
  font-size: $font-size-2xl;
  line-height: 48px;
}
