@import "@css/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 160px;
  background-image: url("@assets/images/contact/bg-contact-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-suffix {
  font-family: $font-secondary;
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  color: $color-light;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 670px;
  padding: 50px 0 30px 0;
  color: $color-light;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $color-light;
  }
}
