@import "@css/variables";

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background-color: $color-dark;
  transition: 0.3s;

  ul {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;

    li a,
    li a:link,
    li a:visited,
    li a:hover,
    li a:active {
      color: $color-light;
      font-weight: 600;
    }
  }
}

.active {
  left: 0;
  transition: 0.3s;
}

.header {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
  background-color: $color-dark;
  border-bottom: 1px solid $color-gray;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
