@import "@css/variables";

.tooltip-container {
  display: none;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-200;

  &.opened {
    display: block;
  }

  @media (min-width: ($breakpoint-mobile)) {
    position: absolute;
    bottom: 60px;
    left: -39px;
    width: 360px;
    border-radius: 5px;
    border-bottom: none;
    z-index: 4;
  }
}

.tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px;

  @media (min-width: ($breakpoint-mobile)) {
    &::after {
      content: "";
      position: absolute;
      bottom: -40px;
      left: 30px;
      border-width: 20px;
      border-style: solid;
      border-color: $color-white transparent transparent transparent;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.date {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    font-weight: 500;
  }
}
